<!DOCTYPE html>
<html>
<head>
  <title>Locuser</title>
  <%= stylesheet_link_tag    "locuser/application", media: "all" %>
  <%= javascript_include_tag "locuser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
